@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


*{
    padding: 0;
    margin: 0;
}
header{
    background-color: maroon;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo{
    text-transform: uppercase;
    color: #fff;
    padding: 2px;
    font-size: 35px;
    width: 100%;
    font-family: 'oswald', lato;
}
.menu{
    position: absolute;
    right: 0%;
    top: 45px;
    padding: 0 1rem;
}
.menu ul li{
    list-style: none;
    position: relative;
    padding: 8px 12px;
    display: inline-block;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'lato',open sans ;
}

main{
    background-color: #fff;
    margin-top: 5px;
}
footer{
    background-color: aquamarine;
    margin-top: 770px;
}